{% form_theme form ':Form:bootstrap_3_cool.html.twig' %}

{% extends 'base.html.twig' %}
{% block content %}

            {{ form_start(form, {'attr': {class:'form-horizontal'}}) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
<div class="modal-footer">
    <button class="btn btn-primary" type="submit">Register!</button>
</div>

            {{ form_end(form) }}


{% endblock %}